:root {
    --light-gray: rgb(119, 121, 119);
}

html, body {
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

#main {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 550px;
}

#navbar {
    display: flex;
    justify-content: end;
}

.navbar_item {
    margin: 6px 4px;
    padding: 0 8px;
    display: flex;
    align-items: center;
}

.navbar_item .nav_link {
    text-decoration: none;
    color: rgb(50, 50, 50);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

#account_logo_div {
    width: 32px;
    height: 32px;
    padding: 0 0px;
    background-image: url("img/account_logo.png");
    background-repeat: no-repeat;
    margin-right: 8px;
}

#account_logo_div:hover {
   background-image: url("img/amogus.png");
}

#container {
    padding: 12px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#title_container {
    flex: 0 0 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
}

#title_content {
    position: relative;
    height: 100%;
    margin-top: auto;
    width: 250px;
}

#title_img {
    position: absolute;
    height: auto;
    bottom: 0;
    width: 100%;
}

.gray_border {
    border: solid rgb(150, 150, 150);
    border-radius: 35px;
    border-width: 1.2px;
}

#search_bar {
    flex: 0 0 32px;
    display: flex;
    justify-content: space-between;
    padding: 6px;
    margin-top: 12px;
    align-self: center;
    min-width: 600px;
    max-width: 800px;
}

#search_bar:hover {
    box-shadow: 0 3px 8px rgb(139, 141, 139);
}

.svg_search_bar {
    fill: var(--light-gray);;
    width: 24px;
    height: 24px;
    position: relative;
    top: 4px;
    left: 4px;
}

#magnifier {
    width: 32px;
    cursor: pointer;
}

#input_bar_container {
    width: 85%;
    display: flex;
}

#input_bar {
    background-color: transparent;
    border: none;
    outline: none;
    flex: 1 0 100%;
    padding: 0 4px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#cancel_btn {
    background-color: saddlebrown;
    flex: 1 0 auto;
    max-width: 32px;
    visibility: hidden;
    cursor: pointer;
}

#keyboard_container {
    width: 32px;
    cursor: pointer;
}

#find_btn_container {
    flex: 0 0 100px;
    margin: 12px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.utility_btn {
    margin: 4px 16px 0 16px;
    background-color: transparent;
    border: none;
    width: 128px;
    height: 32px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.utility_btn:hover {
    border: solid var(--light-gray);;
    border-radius: 35px;
    border-width: 1.2px;
    /* czy da sie zamiast 3 linii wstawic styl klasy .gray_border? */
}

#placeholder {
    flex-grow: 1;
    height: 100%;
}

#footer {
    display: flex;
    flex-direction: column;
    background: rgb(230, 230, 230);
    color: var(--light-gray);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    justify-self: flex-end;
}

#country {
    padding: 15px 15px;
    border-bottom: solid rgb(125, 125, 125);
    border-width: 1px;
}

#politicy_privacy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_segment {
    display: flex;
    flex-direction: row;
}

.footer_info .footer_links {
    display: flex;
    padding: 15px 15px;
}