:root {
    --light-gray: rgb(119, 121, 119);
}

#main {
    display: flex;
    flex-direction: column;
    height: 100%;
    /*margin-top: 100px;*/
    min-width: 550px;
}

#navbar {
    display: flex;
    justify-content: end;
}

.navbar_item {
    margin: 6px 0;
    padding: 0 8px;
    align-content: center;
}

.navbar_item .nav_link {
    text-decoration: none;
    color: rgb(50, 50, 50);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: auto;
    display: inline;
    text-align: center;
}

/*
#account_logo:hover {
   add amogus here 
}*/

#container {
    margin-left: 20%;
    margin-right: 20%;
    padding: 12px;
    height: auto;
    display: flex;
    flex-direction: column;
}

#title_container {
    flex: 0 0 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
}

#title_content {
    position: relative;
    height: 100%;
    margin-top: auto;
    width: 250px;
}

#title_img {
    position: absolute;
    height: auto;
    bottom: 0;
    width: 100%;
}

/*
#title_img:hover {
    background: linear-gradient(90deg, gray 0%, magenta 25%, magenta 75%, gray 100%);
}*/

.gray_border {
    border: solid var(--light-gray);
    border-radius: 35px;
    border-width: 1.2px;
}

#search_bar {
    flex: 0 0 32px;
    display: flex;
    justify-content: space-between;
    padding: 6px;
    margin-top: 12px;
    align-self: center;
    min-width: 600px;
    max-width: 800px;
}

#search_bar:hover {
    box-shadow: 0 3px 8px rgb(139, 141, 139);
}

.svg_search_bar {
    fill: var(--light-gray);;
    width: 24px;
    height: 24px;
    position: relative;
    top: 4px;
    left: 4px;
}

#magnifier {
    width: 32px;
    cursor: pointer;
}

#input_bar_container {
    width: 85%;
    display: flex;
}

#input_bar {
    background-color: transparent;
    border: none;
    outline: none;
    flex: 1 0 100%;
    padding: 0 4px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#cancel_btn {
    background-color: saddlebrown;
    flex: 1 0 auto;
    max-width: 32px;
    visibility: hidden;
    cursor: pointer;
}

#keyboard_container {
    width: 32px;
    cursor: pointer;
}

#find_btn_container {
    flex: 0 0 100px;
    margin: 12px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.utility_btn {
    margin: 4px 16px 0 16px;
    background-color: transparent;
    border: none;
    width: 128px;
    height: 32px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.utility_btn:hover {
    border: solid var(--light-gray);;
    border-radius: 35px;
    border-width: 1.2px;
    /* czy da sie zamiast 3 linii wstawic styl klasy .gray_border? */
}